<!--
<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/jquery/plugins/jqzoom/jqzoom.js?%%GLOBAL_JSCacheToken%%"></script>
-->
<script type="text/javascript" src="%%GLOBAL_ShopPath%%/templates/ansbaby/js/jqzoom.js?%%GLOBAL_JSCacheToken%%"></script>
<script type="text/javascript">//<![CDATA[
	var ZoomImageURLs = new Array();
	%%GLOBAL_ProdImageZoomJavascript%%
//]]></script>
