h1, h2, h3, h4, h5, h6 { font-family: 'cwTeXYen', sans-serif;  }
body { font-family: 'cwTeXYen', sans-serif; font-size: 16px; }
body a { color: darkorange; }
button, input, select, textarea { max-width: 100%;}

dl > dt > .Required { color: red;}
dl > dt { margin-top: 10px; margin-bottom: 10px; color: #343434; width: 25%; float: left; clear: left; }
dl > dd { margin-top: 5px; margin-bottom: 5px; }
dl > dd > input,
dl > dd > select[size]  { border: 1px #ddd solid; border-radius: 5px; height: 40px; padding: 2px 10px;}

.alert { margin-top: 10px;}

.row{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}
.row > [class*='col-']{
	display: flex;
	flex-direction: column;
	align-self: baseline;
}

#AjaxLoading { display: none;}

div.container.brand1{  }
div.navbar-brand.w3-logo{ height: auto; padding-top: 0px; }
.w3ls-navbar { padding-bottom: 0;}
.agile-banner.w3lshome { overflow: hidden; position: relative; background-position: center; background-image: none;}
.navbar-default .navbar-nav>li>a { color: #FFF; font-size: 2rem; text-shadow: 0 2px 3px rgba(0,0,0,.4);}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover { color: yellow; }
@media screen and (min-width: 768px){
	.navbar-default .navbar-nav>li.ActivePage { border-top: #fff 1px solid; }
}
@media screen and (max-width: 767px){
	.navbar-default .navbar-nav>li.ActivePage >a { color: #a05083; }
}

/** sub menu **/
#TopMenu > ul > li { padding: 10px; }
#TopMenu > ul > li.lang { padding: 10px 0; margin-left: 10px; }
#TopMenu { margin-top: -30px; }



#mama_club .pt-30 { padding-top: 30px; }
#mama_club .pb-30 { padding-bottom: 30px; }
#mama_club .pl-50 { padding-left: 50px; }
#mama_club .pr-50 { padding-right: 50px; }
.bg-light { background-color: #EFEFEF; }
.bg-primary { background-color: #a05083; }
.bg-secondary { background-color: #75d6e9; }
.text-primary { color: #e3910c; }
.text-secondary { color: #a05083; }
.panel-primary { border-color: #a05083; }
.panel-primary>.panel-heading { color: #FFF; background-color: #a05083; border-color: #a05083;}
.panel-primary>.panel-heading a:focus,
.panel-primary>.panel-heading a:hover { color: yellow;  }

.position-relative {  position: relative; }
.position-absolute { position: absolute;  }
.overflow-hidden { overflow: hidden;  }


@media screen and (min-width: 736px){
	.w-sm-50 { width:50%; float: left; }
	.position-sm-absolute { position: absolute;  }
}

#stats { background: url("/tw/product_images/uploaded_images/bg9.jpg") no-repeat; background-size: cover; }
#stats .fa { font-size: 0px; }
#stats .fa::before { font-size: 4rem; }

#about_video { background-color: #000; margin-top: 50px; padding-top: 50px; padding-bottom: 50px;}
#about_video .video-container {
	position: relative;
	padding-top: 25px;
	height: 0;
	min-height: 300px;
	width: 100%;
	padding-bottom: 53%;
	float: left;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   #about_video .video-container { min-height: 300px; }
}

#about_video .video-container > iframe{
	position: absolute;
	top:0; left: 0;
	width: 100%; height: 100%;
}
#gallery .grid { overflow: hidden; height: 200px; background-color: #efefef; }
#gallery .grid > img { height: 100%; width: auto;}
#gallery .grid > p {
	position: absolute;
	bottom: 0; top:10%;
	left: 10%; right: 0;
	opacity: 0;
	color: #fff;
	border-right: 4px solid #fff;
	text-align: right;
	margin-right: 10px;
	padding:10px;
	font-size: 12px;
}
#gallery .grid:hover > p {
	opacity: 1;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
}
#gallery .grid::before{
	content:'';
	position: absolute;
	bottom: 0; top: 100%;
	left: 0; right: 0;
	background-color: rgba(0,0,0,.5);
}
#gallery .grid:hover::before{
	top: 0;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

@media screen and (max-width: 736px){
  div.navHeaderCollapse { clear: both; }
}
@media screen and (max-width: 320px){
  .w3-banner-heading h1 { padding-top: 86%; }
}

@media screen and (min-width: 1366px){
	#banner { margin-top: 0vh; height: 50vh; background-size: cover; background-position: center; background-attachment: fixed; }
}
@media screen and (min-width: 736px) and (max-width: 1366px){
	#banner { margin-top: 0vh; height: 70vh; background-size: cover; background-position: center; background-attachment: fixed; }
}
@media screen and (max-width: 736px){
	#banner { margin-top: 0vh; height: 40vh; background-size: cover; background-position: top; }
}

div#contact {
  background: url(../images/ansbaby/contact.jpg) no-repeat;
  background-size: cover;
}
.bg-primary .contact-details a { color: #FFF; }

/** category **/
.category-name { margin: 10px auto; }
.ProductList > li { float: left; margin: 2%; padding-bottom: 2%; width: 280px;}
.ProductList > li.card {
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
  width: 29% !important;
}

.ProductList > li.card .ProductImage > a > img { width: 100%; }

.ProductDetails,
.ProductPriceRating,
.ProductActionAdd { padding: 1px 10px; width: 280px; }
.ProductDetails { font-size: 20px; border-bottom: #EFEFEF 1px solid }


/**** checkout ****/
.ExpressCheckoutBlockCollapsed .ExpressCheckoutContent { display: none;}
.ExpressCheckoutBlock a.ChangeLink { display: none;}
.ExpressCheckoutBlockCompleted a.ChangeLink {display: inline;float: right;}


/*** cart page ***/
.CartThumb > a > img { max-width: 200px;}
.update-qty-wrapper { position: relative;}
.update-qty-wrapper > input { width: 100px; height: 30px; cursor: pointer; }
.update-qty-wrapper > div { position: absolute; left: 0; top: 3px; z-index: -1;}
.CartContents tbody td,
.CartContents tfoot td { vertical-align: middle;}

/*** product page ***/
div#fancy_outer { margin-top: 80px !important; }
.ProductThumb { float: left; }
.Label.QuantityInput { visibility: hidden;}
#qty_.quantityInput { float: left; height: 48px; width: 100px; margin-top: 10px; margin-right: 10px; }

#toTop { background: url(../images/ansbaby/arrow.png) no-repeat 0px 0px;
  background-size: 60px;
  width: 60px;
  height: 60px;
  font-size: 0px;
}
.ProductDescriptionContainer p { margin-bottom: 10px;}
.ProductDescriptionContainer ol > li { list-style-type: decimal; }


/** modal **/
.fastCartItemBox { max-width: unset;}
.fastCartSummaryBox { max-width: unset; }
.fastCartSummaryBox .subtotal { font-size: 18px; }
.fastCartSummaryBox .subtotal .ProductPrice { border-bottom: 1px double #a05083;}

/** footer **/
ul.social-list > li { display: inline; margin-right: 5px; }
ul.social-list > li > a { color: #e3910c;  }
ul.social-list > li > a:hover { color: #FFF;  }

/** our story **/
.box-img { height: 35%; overflow: hidden;}
.box-img > img { width: 100%;}
.box-body { padding: 10px; text-align: center; margin-top: 30px;}
.box-body > h3 { color: #a05083; }
.box-body > p { margin-top: 10px; }

/** language **/
#topmenu { padding: 0 15px;text-align: right; z-index: 99; margin-top: 5px; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .row > [class*='col-'] { display:inline-block; }
}
