            <div id="SearchForm">
                <form action="%%GLOBAL_ShopPath%%/search.php" method="get" onsubmit="return check_small_search_form()">
                    <label for="search_query">%%LNG_Search%%</label>
                    <input type="text" name="search_query" id="search_query" class="Textbox" value="%%GLOBAL_OriginalSearchQuery%%" />
                    <input type="image" src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/Search.gif" class="Button" />
                </form>
                <p>
                </p>
            </div>

            <script type="text/javascript">
                var QuickSearchAlignment = 'left';
                var QuickSearchWidth = '232px';
                lang.EmptySmallSearch = "%%LNG_EmptySmallSearch%%";
            </script>
