        <div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/ajax-loader.gif" alt="" />&nbsp; %%LNG_LoadingPleaseWait%%</div>
        %%GLOBAL_MaintenanceNotice%%

          <div id="Outer">
                <div id="Headera">
            <div id="Header">
                <div id="Logo">
                    %%GLOBAL_HeaderLogo%%
                </div>
              
                  %%Panel.PagesMenu%%
                   %%Panel.TopMenu%% 
             <!--%%Panel.HeaderSearch%%-->
            </div>   
      
  </div>