<table style="background-image: url('https://ansbaby.com/product_images/uploaded_images/rightfooooooo.png')" border="0" width="224" height="708">
<tbody>
<tr>
<td width="216" height="203">
  <p class="MsoNormal"><span><span style="mso-bidi-font-weight: normal; mso-fareast-language: ZH-TW"><span style="mso-ascii-font-family: Calibri; mso-ascii-theme-font: minor-latin; mso-hansi-font-family: Calibri; mso-hansi-theme-font: minor-latin; mso-fareast-language: ZH-TW; mso-bidi-font-weight: normal"><b style="mso-bidi-font-weight: normal; mso-ascii-font-family: Calibri; mso-ascii-theme-font: minor-latin; mso-hansi-font-family: Calibri; mso-hansi-theme-font: minor-latin; mso-fareast-language: ZH-TW"><font size="4">Newsletter</font></b></span><font size="4"><span lang="EN-US" style="mso-fareast-font-family: SimSun; mso-fareast-language: ZH-TW; mso-bidi-font-weight: normal"><b style="mso-bidi-font-weight: normal; mso-fareast-language: ZH-TW"><o:p>
  &nbsp;</b>
  </span></font></span><span lang="EN-US" style="mso-fareast-font-family:SimSun;mso-fareast-language:ZH-TW"><b style="mso-bidi-font-weight:normal"><br>
  </o:p>
  </b>
  </span></span></p>
  <p class="MsoNormal"><span style="font-size: 10.0pt; mso-fareast-language: ZH-TW">Sign up for the monthly ANS Baby newsletter.You'll receive new product infomation, blogs to read, great recipes for toddlers, offers and more</span><span style="font-size:10.0pt;font-family:SimSun;mso-ascii-font-family: 
Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri; 
mso-hansi-theme-font:minor-latin;mso-fareast-language:ZH-TW"><br> 
  <br> 
  </span><span lang="EN-US" style="font-size:10.0pt;mso-fareast-font-family:SimSun;mso-fareast-language: 
ZH-TW"><o:p> 
  </o:p> 
  </span><span lang="EN-US" style="font-size:10.0pt;mso-fareast-font-family: 
SimSun;mso-fareast-language:ZH-TW"></o:p> 
  </span></p> 
  <p class="MsoNormal"><a href="https://ansbaby.com/login.php?action=create_account"><span style="font-size: 10.0pt; mso-ascii-font-family: Calibri; mso-ascii-theme-font: minor-latin; mso-hansi-font-family: Calibri; mso-hansi-theme-font: minor-latin; mso-fareast-language: ZH-TW"><font color="#009933">Click here to sign up></font></span></a><span lang="EN-US" style="font-size:10.0pt;mso-fareast-font-family:SimSun;mso-fareast-language: 
ZH-TW"><font color="#009933"><a href="https://ansbaby.com/login.php?action=create_account"><o:p>
  </a></font>
  </o:p>
  </span></td>
</tr>
<tr>
<td width="216" height="148"><b style="mso-bidi-font-weight: normal; mso-fareast-language: ZH-TW"><span style="mso-ascii-font-family: Calibri; mso-ascii-theme-font: minor-latin; mso-hansi-font-family: Calibri; mso-hansi-theme-font: minor-latin; mso-fareast-language: ZH-TW; mso-bidi-font-weight: normal"><font size="4">Forum</font></span><font size="4"><span lang="EN-US" style="mso-fareast-font-family: SimSun; mso-fareast-language: ZH-TW; mso-bidi-font-weight: normal"><o:p> 
  </o:p> 
  </span></font></b><span lang="EN-US" style="mso-fareast-font-family:SimSun;mso-fareast-language:ZH-TW"><b style="mso-bidi-font-weight:normal"> 
  </b></span><font face="Verdana"><span lang="EN-US" style="font-size:10.0pt;mso-fareast-font-family:
SimSun;mso-fareast-language:ZH-TW">&nbsp;</o:p>
  </span>
  </font>
  <p class="MsoNormal"><font face="Verdana"><span style="font-size: 10.0pt; mso-ascii-font-family: Calibri; mso-ascii-theme-font: minor-latin; mso-hansi-font-family: Calibri; mso-hansi-theme-font: minor-latin; mso-fareast-language: ZH-TW">Got question or something to say? Join our online Forum today. 
  </span></font><span style="font-size: 10.0pt; mso-ascii-font-family: Calibri; mso-ascii-theme-font: minor-latin; mso-hansi-font-family: Calibri; mso-hansi-theme-font: minor-latin; mso-fareast-language: ZH-TW"><br> 
  <br> 
  <br> 
  <br> 
  <a href="https://ansbaby.com/pages/FORUM.html"><img border="0" src="https://ansbaby.com/product_images/uploaded_images/gg01.png" width="119" height="24"></a><br>
  </span><span lang="EN-US" style="font-size:10.0pt;mso-fareast-font-family:SimSun;mso-fareast-language:
ZH-TW"><o:p>
  </o:p>
  </span></td>
</tr>
<tr>
<td width="216" height="345"><font face="Verdana" size="4"><b>Advertisements</b></font><br>
<a href="https://ansbaby.com/e1"><img border="0" src="https://ansbaby.com/ad/ad1.jpg" width="200" height="167"></a>&nbsp;<br>
<br>
<a href="https://ansbaby.com/e2"><img border="0" src="https://ansbaby.com/ad/ad2.jpg" width="200" height="166"></a></td>
</tr>
      
</tbody>
</table>