<div class="ModalContent"><div id="fastCartContainer"><div id="fastCartWrapper">
	<div class="fastCartContent">
		<h2>%%GLOBAL_fastCartQuantityTxt%%</h2>
		<div class="fastCartTop clearfix">
			<div class="fastCartThumb" style="%%GLOBAL_HideThumbColumn%%">%%GLOBAL_fastCartProdImg%%&nbsp;</div>
			<div class="fastCartItemBox">
				<div>%%GLOBAL_fastCartProdLink%%</div>
				<div><em class="ProductPrice">%%GLOBAL_fastCartProdTotal%%</em></div>
				<p class="Quantity">%%LNG_QuantityAdded%%: %%GLOBAL_fastCartQuantity%%</p>
			</div>
			<div class="fastCartSummaryBox">
				<div class="ProceedToCheckout">
					<div class="CheckoutButton" style="%%GLOBAL_HideCheckoutButton%%">
						<a href="%%GLOBAL_CheckoutLink%%" title="%%LNG_CheckoutButtonTitle%%">
						<img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/CheckoutButton.gif" alt="" />
						</a>
					</div>
					%%GLOBAL_AdditionalCheckoutButtons%%
				</div>
				<div class="subtotal h2">%%LNG_OrderSubtotal%%: <span class="ProductPrice">%%GLOBAL_fastCartSubtotal%%</span></div>
				<div>%%LNG_YourCartContains%% <span id="fastCartNumItemsTxt">%%GLOBAL_fastCartNumItemsTxt%%</span></div>
				<div class="actionLink">
					<a class="btn btn-success" href="#" onclick="$('.modalClose').trigger('click');">%%LNG_ContinueShopping%%</a> %%LNG_Or%%
					<a class="btn btn-warning" href="%%GLOBAL_ShopPath%%/cart.php">%%LNG_ViewEditCart%%</a>
				</div>
			</div>
		</div>
		<br class="Clear" />
		<hr>
		<!--
		<div class="fastCartBottom" style="%%GLOBAL_HideSuggestiveCartContent%%">
			<h3>%%LNG_YouMayAlsoLike%%</h3>
			<p>%%LNG_SuggestiveCartIntro%%</p>
			<ul class="ProductList" id="fastCartSuggestive">
				%%GLOBAL_SuggestedProductListing%%
			</ul>
		</div>
		 -->
	</div>

	<br class="Clear" />
</div></div></div>
