<div class="col-sm-6">
	<div class="panel panel-primary ">
	  <div class="panel-heading">
			<a class="h3" href="%%GLOBAL_NewsURL%%" class="TrackLink"><i class="fa fa-newspaper-o" style="margin-right: 5px;"></i>%%GLOBAL_NewsTitle%%</a>
		</div>
	  <div class="panel-body">
	    <p>%%GLOBAL_NewsSmallContent%%</p>
			<hr/>
			<div class="small text-warning">%%GLOBAL_NewsDate%%<a href="%%GLOBAL_NewsURL%%" class="pull-right fa fa-arrow-circle-right fa-2x"></a></div>
	  </div>
	</div>
</div>
