<script type="text/javascript" src="{{ AppPath|safe }}/javascript/tinymce/tiny_mce_gzip.js?{{ JSCacheToken }}"></script>
<script type="text/javascript">
if(tinyMCE_GZ.settings['themes'] ==''){
tinyMCE_GZ.init({
	plugins : 'safari,pagebreak,style,layer,table,save,interspireimg,linker,advlink,media,searchreplace,print,contextmenu,paste,fullscreen,visualchars,nonbreaking,xhtmlxtras,template,inlinepopups,mediaservice',
	themes : 'advanced',
	languages : 'en',
	disk_cache : true,
	debug : false
});
}

</script>
{{ EditorTinyMCECommon|safe }}