
<table style="background-image: url('https://ansbaby.com/tw/product_images/uploaded_images/fooooo.png')" border="0" width="930" height="120">
<tbody>
<tr>
<td width="29" height="29">&nbsp;</td>
<td width="917" height="29">&nbsp;<a href="https://ansbaby.com/hk/"><font size="2" color="#333333">首頁</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp; 
  </font><a href="https://ansbaby.com/hk/pages.php?pageid=3"><font size="2" color="#333333">關於我們</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp; 
  </font><a href="https://ansbaby.com/hk/pages.php?pageid=8"><font size="2" color="#333333">最新消息</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp; 
  </font><a href="https://ansbaby.com/hk/categories/ANS%E5%AC%B0%E5%85%92%E9%85%8D%E6%96%B9%E5%A5%B6%E7%B2%89/"><font size="2" color="#333333">購買產品</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp; 
  </font><a href="https://ansbaby.com/hk/pages.php?pageid=4"><font size="2" color="#333333">論壇</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp; 
  </font><a href="https://ansbaby.com/hk/pages.php?pageid=9"><font size="2" color="#333333">沖調方法</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp; 
  </font><a href="https://ansbaby.com/hk/pages.php?pageid=7"><font size="2" color="#333333">聯繫我們</font></a></td>
</tr>
<tr>
<td width="29" height="83">&nbsp;</td>
<td width="917" height="83"><font size="1">免責聲明：本網站包含其他外部網站的鏈接。我們並不對第三方網站的內容負責。<br>
  &copy;2013 ANS Baby | Australian Nutrician and Sports | 所有價格均以港幣顯示。 版權所有 2013 ANSBABY. Sitemap</font></td> 
</tr> 
</tbody> 
</table> 




        %%GLOBAL_DesignModeHTML%%
        %%GLOBAL_QueryList%%
        %%GLOBAL_DesignModeScriptTag%%
        %%GLOBAL_LiveChatFooterCode%%

        %%GLOBAL_OptimizerTrackingScript%%

        %%GLOBAL_OptimizerConversionScript%%

        %%GLOBAL_OptimizerSetCookieScript%%
        %%GLOBAL_FooterScripts%%
<div style="display: none">
