<head>
    %%GLOBAL_OptimizerControlScript%%

    <title>%%Page.WindowTitle%%</title>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=%%GLOBAL_CharacterSet%%" />
    <meta name="description" content="%%Page.MetaDescription%%" />
    <meta name="keywords" content="%%Page.MetaKeywords%%" />
    %%GLOBAL_AdditionalMetaTags%%
    %%Page.CanonicalLink%%
    %%Page.Robots%%
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="shortcut icon" href="%%GLOBAL_Favicon%%" />

    %%GLOBAL_Stylesheets%%

    <!-- Tell the browsers about our RSS feeds -->
    %%GLOBAL_HeadRSSLinks%%

    <!-- Include visitor tracking code (if any) -->
    %%GLOBAL_TrackingCode%%

    %%GLOBAL_DesignModeStyleSheet%%

    %%GLOBAL_HeaderImageStyle%%

    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/jquery.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/menudrop.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/common.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/iselector.js?%%GLOBAL_JSCacheToken%%"></script>

    <script type="text/javascript">
    //<![CDATA[
    config.ShopPath = '%%GLOBAL_ShopPath%%';
    config.AppPath = '%%GLOBAL_AppPath%%';
    var ThumbImageWidth = %%GLOBAL_ProductThumbImageWidth%%;
    var ThumbImageHeight = %%GLOBAL_ProductThumbImageHeight%%;
    //]]>
    </script>
    %%GLOBAL_AdditionalScriptTags%%
    %%GLOBAL_QuickSearchJS%%
    %%GLOBAL_RTLStyles%%
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Antic" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Questrial" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet"/>
    
     <style>#bottom_payment_button{padding: 9px;
    font-size: 18px;
    margin: 5px;
    background: #FFF1E3;
    border-radius: 5px;
    color: #000;
    float: right;}.Left{display:none;}</style>
</head>
