%%GLOBAL_OptimizerLinkScript%%

%%GLOBAL_CartCheckoutButtonControlScript%%
<div class="Block Moveable Panel" id="CartHeader">
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<h2>%%LNG_YourShoppingCart%%</h2>
			</div>
			<div class="col-xs-4 text-right" style="%%GLOBAL_HideCheckoutButton%%;">
				<a class="btn btn-success btn-lg" href="%%GLOBAL_CheckoutLink%%" onclick="%%GLOBAL_OptimizerLinkFunction%%" title="%%LNG_CheckoutButtonTitle%%">

				%%GLOBAL_CartCheckoutButtonOptimizerScriptTag%%
					<i class="fa fa-dollar"></i>
					%%LNG_CheckoutButtonTitle%%
				<!--
					<img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/CheckoutButton.gif" alt="%%LNG_CheckoutButtonTitle%%" />
				-->
				%%GLOBAL_CartCheckoutButtonOptimizerNoScriptTag%%

				</a>
			</div>
		</div>
	</div>
	<hr/>
</div>
%%Discount.FreeShippingEligibility%%
