<div class="collapse navbar-collapse navHeaderCollapse">
	<ul class="nav navbar-nav navbar-right w3ls-nav">
		<!--
		<li><a class=" %%GLOBAL_ActivePageHomeClass%%" href="%%GLOBAL_ShopPathNormal%%/">%%LNG_MainPage%%</a></li>
		-->
		%%SNIPPET_PageMenu%%
	</ul>
</div>
