%%GLOBAL_OptimizerLinkScript%%

<div class="navbar navbar-default navbar-fixed-top w3ls-navbar">
  <div class= "container brand1">
    <div class="navbar-brand w3-logo">
      <!--<img src="./images/ref/logo.png" class="img-responsive">-->
      %%GLOBAL_HeaderLogo%%
    </div>

    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- navbar collapse -->
    %%Panel.PagesMenu%%

    <div id="TopMenua">

      <div id="TopMenu">
        <ul style="display:%%GLOBAL_HidePurchasingOptions%%" class="pull-right">
          <li style="display:%%GLOBAL_HideAccountOptions%%" class="First pull-left"><a href="%%GLOBAL_ShopPath%%/account.php" title="%%LNG_YourAccount%%"><i class="fa fa-user-circle-o fa-lg"></i></a></li>
          <li style="display:%%GLOBAL_HideCartOptions%%" class="CartLink pull-left"><a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%"><i class="fa fa-shopping-bag fa-lg"></i>%%GLOBAL_CartItems%%</a></li>
          <!--
          <li style="display:%%GLOBAL_HideAccountOptions%%" class=" pull-right">
              <a href="./login.php">登入</a>
          </li>
          -->

          <li class="pull-left lang">
            <a href="/">
              <img border="0" src="https://ansbaby.com/v/004.png" width="24" height="16">
            </a>
          </li>
          <li class="pull-left lang">
            <a href="/hk">
              <img border="0" src="https://ansbaby.com/v/001.png" width="24" height="16">
            </a>
          </li>
          <li class="pull-left lang">
            <a href="/cn">
              <img border="0" src="https://ansbaby.com/v/002.png" width="24" height="16">
            </a>
          </li>
          <li class="pull-left lang">
            <a href="/tw">
              <img border="0" src="https://ansbaby.com/v/003.png" width="24" height="16">
            </a>
          </li>

          %%GLOBAL_switchingLanguage%%

        </ul>
        <br class="Clear" />
      </div>
    </div>

  </div>
</div>
<!-- navbar end-->
