</div></div>
<div id="foonta">
    <div id="foonta2">
<div id="lefta" >
  <p>CONTACT US:</p>
  <p>Phone (852) 2389 1232<br />
    Email info@ansprotein.com</p>
   
</div>
<div id="lefts" >
 
    <p>ADDRESS:</p>
  <p>11th Floor, 203 Wai Yip Street, TungTex Building,  Kwun Tong, Kowloon, Hong Kong</p>
</div>
<div id="mids" >
  
     <p>Disclaimer: this website contains links to external websites.
    We are not responsible for any third party content.<br />
    2013 Australian Formulated Limited  ｜ All prices are in AUD。｜
    Copyright 2013 Australian Formulated Limited  <br />

</p>
</div>
<div id="rigths" >
  <p style="text-align:right;padding-right:15px;">Find Us &nbsp;&nbsp;&nbsp; <span style="border:1px solid #a05083;padding:5px 10px 5px 10px;width:150px;"><a href="https://ansbaby.com/pages/CONTACT-US.html"> Here </a></span></p>
</div>
<br/><br/><br/>

<!--<table style="background-image: url('https://ansbaby.com/hk/product_images/uploaded_images/fooooo.png')" border="0" width="980" height="120">
<tbody>
<tr>
<td width="29" height="29">&nbsp;</td>
<td width="917" height="29">&nbsp;<a href="https://ansbaby.com/"><font face="Verdana" size="2" color="#333333">HOME</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/pages/ABOUT.html"><font face="Verdana" size="2" color="#333333">ABOUT</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/pages/NEWS.html"><font face="Verdana" size="2" color="#333333">NEWS</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/categories/ANS-BABY/"><font face="Verdana" size="2" color="#333333">SHOP</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/pages/FORUM.html"><font face="Verdana" size="2" color="#333333">FORUM</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/pages/PREPARATION.html"><font face="Verdana" size="2" color="#333333">PREPARATION</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/pages/CONTACT.html"><font face="Verdana" size="2" color="#333333">CONTACT</font></a></td> 
</tr> 
<tr> 
<td width="29" height="83">&nbsp;</td> 
<td width="917" height="83"><font size="2">Disclaimer: This website contains links to other websites. We are not responsible for the content of third party websites.&nbsp;<br>
  &copy;2013 ANS Baby | Australian Nutrition and Sports | All prices are in AUD. Copyright 2013 ANSBABY. Sitemap |&nbsp;</font></td> 
</tr> 
</tbody> 
</table> 
-->



        %%GLOBAL_DesignModeHTML%%
        %%GLOBAL_QueryList%%
        %%GLOBAL_DesignModeScriptTag%%
        %%GLOBAL_LiveChatFooterCode%%

        %%GLOBAL_OptimizerTrackingScript%%

        %%GLOBAL_OptimizerConversionScript%%

        %%GLOBAL_OptimizerSetCookieScript%%
        %%GLOBAL_FooterScripts%%
 </div>
 </div>