<div class="Block Moveable Panel ProductDescription" id="ProductDescription">
                    <h2 style="font-size:24px;">%%GLOBAL_ProductName%%</h2>
    <h3 style="font-size:18px;margin-left:15px;">%%LNG_ProductDescription%%</h3>
    <div class="ProductDescriptionContainer" style="font-size:16px!important;margin-left:15px;">
        %%GLOBAL_ProductDescriptionOptimizerScriptTag%%
            %%GLOBAL_ProductDesc%%
        %%GLOBAL_ProductDescriptionOptimizerNoScriptTag%%
    </div>
    
</div>

<br/><br/>