.youtubeVideoListBox {
	width: 340px;
	height: 246px;
	border: 1px solid #7F9DB9;
	background-color: white;
	background-image: url('../images/gradient_bg.png');
	background-repeat: repeat-x;
	background-position: bottom;
	float: left;
}

.videoRowFirst {
	background-image: url('../images/gradient_row_dark.png');
}

.videoRowSecond {
	background-image: url('../images/gradient_row.png');
}

.showMoreRow:hover {
	background-image: url('../images/gradient_row_dark.png');
	text-decoration: underline;
}

.videoRow {
	height: 75px;
	padding-top: 4px;
	cursor: pointer;
}

.showMoreRow {
	background-color: white;
	background-repeat: repeat-x;
	background-position: 60px;
	background-image: url('../images/gradient_row.png');
	text-align: center;
	font-weight: bold;
	height: 35px;
	padding-top: 30px;
	padding-bottom: 6px;
	cursor: pointer;
}

.youtubeVideoListBox ul li {
	list-style-type: none;
	list-style-image: none;
	border-bottom: 1px solid #E6E6E6;
	border-top: none;
	border-left: none;
	border-right: none;
	clear: both;
	display: block;
	margin: 0;
	top: 0;
	vertical-align: top;
}

.unselectedVideo {
	background-color: white;
	background-repeat: repeat-x;
	background-position: 20px;
}

.youtubeVideoListBox ul li:hover {
	background-color: #F5F5F5;
}

.youtubeVideoListBox ul li.selectedVideo:hover {
	background-color: #316AC5;
}

.youtubeVideoListBox ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	list-style-image: none;
	overflow-y: scroll;
	height: 246px;
}

#youtubeJoinBox {
	padding-left: 10px;
	padding-top: 95px;
	width: 50px;
	float: left;
}

#noSearchVideos, #useSearchVideos {
	width: 340px;
	height: 136px;
	text-align: center;
	padding-top: 110px;
	border-bottom: none;
}

#noCurrentVideos {
	padding-top: 100px;
	height: 146px;
	width: 340px;
	text-align: center;
	border-bottom: none;
}

.ytVideoTitle {
	font-weight: bold;
	float: left;
	width: 220px;
}

.ytVideoDetails {
	float: left;
	width: 220px;
	height: 57px;
	overflow: hidden;
}

.selectedVideo {
	color: white;
	background-color: white;
	background-image: url('../images/select_bg.png');
	background-repeat: repeat-x;
	background-position: bottom;
}

.exampleSearchText {
	color: #AAAAAA;
}

.ytVideoImage {
	width: 90px;
	height: 68px;
	padding: 4px 4px 0;
	float: left;
	border: none;
}

#youTubeCurrentVideos li {
	cursor: move;
}

.videoPlaceholder {
	background-image: url('../images/dropbg.gif');
}

.videoControlRow {
	padding: 3px 0 3px 10px;
}

.videoIntroRow {
	padding: 10px 0 3px 10px;
}

/* begin product images management */

.productImagesTable,
.productImagesListItem table {
	width: 100%;
}

.productImagesTable td,
.productImagesTable th,
.productImagesListItem table td,
.productImagesListItem table th {
	white-space: nowrap;
	vertical-align: top;
	text-align: left;
}

.productImagesTable tr.Heading3 td {
	vertical-align: middle;
}

th.productImageCheck,
td.productImageCheck {
	width: 1px;
}

th.productImageBaseThumb,
td.productImageBaseThumb {
	width: 150px;
}

th.productImagePageThumb,
td.productImagePageThumb {
	width: 200px;
}

.productImagesTable .productImageBaseThumb,
.productImagesListItem .productImageBaseThumb,
.productImagesTable .productImagePageThumb {
	text-align: center;
}

th.productImageAction,
td.productImageAction {
	width: 80px;
}

.productImagesListItem th.productImageDescription,
.productImagesListItem td.productImageDescription {
	white-space: normal;
}

.productImagesListItemPlaceholder {
	background: transparent url(../images/drag_placeholder_bg.gif);
	width: 100%;
}

.productImageThumbDisplay a {
	display: block;
	text-align: center;
	background: transparent center center no-repeat;
	cursor: pointer;
}

#productImagesListItemNew .productImageCheck input {
	visibility: hidden;
}

#productImagesListItemNew div.productImageNewPlaceholder {
	margin: 6px 0;
}

#productImagesListItemNew div.productImageNewPlaceholder > div {
	border: solid 1px #CCC;
	width: 100%;
	height: 100%;
	background: url(../images/drag_placeholder_bg.gif);
	text-align: center;
	font-weight: bold;
	cursor: default;
}

#productImagesListItemNew div.productImageNewPlaceholder > div > span {
	background-color: #F9F9F9;
}

#productImagesListItemNew button {
	margin-left: 0;
}

td.productImageDescription > div > form > textarea {
	display: block;
}

#ProductImageSource {
	float: right;
	margin-right: 5px;
	width: 120px;
}

.useImageFromGalleryHeaderRow {
	width: 100%;
	height: 35px;
	padding: 5px;
}

#UseImageFromGalleryImagesList {
	overflow: auto;
}

#UseImageFromGalleryImagesList .GalleryImageContainer {
	text-align: center;
	display: inline;
	float: left;
	width: 130px;
	height: 160px;
	margin: 5px;
	padding: 0;
	position: relative;
}

#ImageGalleryPaging {
	text-align: right;
	padding: 10px 10px 5px;
}

#ProductImagesSearch {
	float: right;
	margin-right: 10px;
	width: 140px;
}

.NoProductImagesMessage {
	text-align: center;
	font-style: italic;
	font-size: 18px;
	height: 175px !important;
	padding-top: 175px;
}

#UseImageFromGalleryImagesList .ViewLarger {
	display: block;
	width: 100%;
}

#UseImageFromGalleryImagesList .galleryImage {
	background-color: white;
	border: 1px solid #E1E1E1;
	cursor: pointer;
	width: 130px;
	height: 130px;
	margin: 5px;
	padding: 0;
	position: relative;
}

#UseImageFromGalleryImagesList .galleryImage > img {
	width: auto; height: 100%;
}

#UseImageFromGalleryImagesList .galleryImage:hover {
	border: 1px solid #6A6A6A;
	background-color: #EFEFEF;
}

.galleryImageSelected {
	border: 1px solid #316AC5 !important;
}

.galleryImageSelected .overlaySelect {
	border: 1px solid #316AC5 !important;
	background-color: #316AC5 !important;
	padding: 0 !important;
	opacity: 0.4;
	filter: alpha(opacity=40);
	width: 128px;
	height: 128px;
}

#UseImageFromGalleryImageLoading {
	text-align: center;
}

#UseImageFromGalleryImagesList, #UseImageFromGalleryImageLoading {
	height: 350px;
}

#ClearImageSearch {
	padding-right: 10px;
	padding-top: 3px;
}

.productImageDescription textarea {
	font-size: 11px;
	margin: 0;
	width: 98.2%;
	border: 1px solid transparent;
	background: transparent;
	color: #676767;
}

.productImageDescription textarea.editing,
.productImageDescription textarea:hover {
	background-color: #ffffcc;
	border: 1px solid #ccc;
}

.ImageGalleryBrowserOr {
	float: right;
	font-style: italic;
	font-weight: bold;
	padding-right: 10px;
}

/* end product images management */

#productTaxClassSelect {
	padding-left: 25px;
	background: url('../images/nodejoin.gif') no-repeat;
}