
<table style="background-image: url('https://ansbaby.com/tw/product_images/uploaded_images/fooooo.png')" border="0" width="930" height="120">
<tbody>
<tr>
<td width="29" height="29">&nbsp;</td>
<td width="917" height="29">&nbsp;<a href="https://ansbaby.com/cn/"><font size="2" color="#333333">首&#39029;</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/cn/pages.php?pageid=3"><font size="2" color="#333333">&#20851;于我&#20204;</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/cn/pages.php?pageid=8"><font size="2" color="#333333">最新消息</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/cn/categories/ANS-%E5%A9%B4%E5%84%BF%E9%85%8D%E6%96%B9%E5%A5%B6%E7%B2%89/"><font size="2" color="#333333">&#36141;&#20080;&#20135;品</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/cn/pages.php?pageid=4"><font size="2" color="#333333">&#35770;&#22363;</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/cn/pages.php?pageid=10"><font size="2" color="#333333">&#20914;&#35843;方法</font></a><font color="#333333" face="Verdana" size="2">&nbsp;&nbsp;&nbsp;  
  </font><a href="https://ansbaby.com/cn/pages.php?pageid=7"><font size="2" color="#333333">&#32852;系我&#20204;</font></a></td> 
</tr> 
<tr> 
<td width="29" height="83">&nbsp;</td> 
<td width="917" height="83"><font size="1">免&#36131;&#22768;明：本网站包含其他外部网站的&#38142;接。我&#20204;并不&#23545;第三方网站的&#20869;容&#36127;&#36131;。<br>
  &copy;2013 ANS Baby | Australian Nutrician and Sports | 所有价格均以人民&#24065;&#26174;示。版&#26435;所有2013 ANSBABY. Sitemap</font></td> 
</tr> 
</tbody> 
</table> 




        %%GLOBAL_DesignModeHTML%%
        %%GLOBAL_QueryList%%
        %%GLOBAL_DesignModeScriptTag%%
        %%GLOBAL_LiveChatFooterCode%%

        %%GLOBAL_OptimizerTrackingScript%%

        %%GLOBAL_OptimizerConversionScript%%

        %%GLOBAL_OptimizerSetCookieScript%%
        %%GLOBAL_FooterScripts%%
<div style="display: none">
