        <div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/ajax-loader.gif" alt="" />&nbsp; %%LNG_LoadingPleaseWait%%</div>
        %%GLOBAL_MaintenanceNotice%%

        %%Panel.TopMenu%%
        <div id="Outer">
            <div id="Header">
                <div id="Logo">
                    %%GLOBAL_HeaderLogo%%
                </div>
                   <br class="Clear" />
            </div>
        %%Panel.PagesMenu%%
             %%Panel.HeaderSearch%%
