	
    <table style="width: 100%; border: #fff solid 15px; padding: 10px;" border="0">
<tbody>
<tr>
<td>
<p style="text-align: center;"><a href="https://www.facebook.com/ansbabyansbaby" target="_blank"><img class="__mce_add_custom__" title="facebook.png" src="https://ansbaby.com/product_images/uploaded_images/facebook.png" alt="facebook.png" width="30" height="30" /></a>&nbsp;<a href="https://www.instagram.com/ansbabyhongkong/" target="_blank"><img class="__mce_add_custom__" title="instagram-logo-005.png" src="https://ansbaby.com/product_images/uploaded_images/instagram-logo-005.png" alt="instagram-logo-005.png" width="30" height="30" /></a>&nbsp;<a href="https://mp.weixin.qq.com" target="_blank"><img class="__mce_add_custom__" title="wechat.png" src="https://ansbaby.com/product_images/uploaded_images/wechat.png" alt="wechat.png" width="30" height="30" /></a>&nbsp;<a href="http://weibo.com/ansbabyhk" target="_blank"><img class="__mce_add_custom__" title="weibo.png" src="https://ansbaby.com/product_images/uploaded_images/weibo.png" alt="weibo.png" width="30" height="30" /></a>&nbsp;<a href="https://www.linkedin.com/in/ans-baby-7ab84693" target="_blank"><img class="__mce_add_custom__" title="how-to-harness-the-power-of-linkedin-infographic1.png" src="https://ansbaby.com/product_images/uploaded_images/how-to-harness-the-power-of-linkedin-infographic1.png" alt="how-to-harness-the-power-of-linkedin-infographic1.png" width="30" height="30" /></a></p>
</td>
</tr>
</tbody>
</table>
    	<div id="Footer">
			<p id="FullSiteLink">
				<a href="%%GLOBAL_FullSiteLink%%">%%LNG_FullSite%%</a>
				%%LNG_NotOptimizedForMobiles%%
			</p>
			<p style="%%GLOBAL_HideLogoutLink%%">
				<a href="%%GLOBAL_ShopPath%%/login.php?action=logout">%%LNG_Logout%%</a>
			</p>
			<p>
				%%GLOBAL_AllPricesAreInCurrency%%<br />
				Copyright %%GLOBAL_Year%% %%GLOBAL_StoreName%%.<br />
				%%GLOBAL_PoweredBy%%
			</p>
			%%GLOBAL_DebugDetails%%
		</div>
		<span class="Clear" />
		</div>
 

		%%GLOBAL_DesignModeHTML%%
		%%GLOBAL_QueryList%%
		%%GLOBAL_DesignModeScriptTag%%
		%%GLOBAL_FooterScripts%%
        
        
         <!--呢一個SLIDE MENU用------->
<script src="https://ansbaby.com/js/dist/menu.js"></script>
<script>
  
  /**
   * Slide left instantiation and action.
   */
  var slideLeft = new Menu({
    wrapper: '#o-wrapper',
    type: 'slide-left',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
  });

  var slideLeftBtn = document.querySelector('#c-button--slide-left');
  
  slideLeftBtn.addEventListener('click', function(e) {
    e.preventDefault;
    slideLeft.open();
  });


</script>

<!-- EXTERNAL SCRIPTS FOR CALLMENICK.COM, PLEASE DO NOT INCLUDE -->
<script src="https://ansbaby.com/js/dist/githubIcons.js"></script>
<script src="https://ansbaby.com/js/dist/carbonAd.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-34160351-1', 'auto');
  ga('send', 'pageview');
</script>

        <!--呢一個SLIDE MENU用------->