		<a id="anchorTop"></a>
		%%Panel.IphoneIconMenu%%
		<div id="Outer">
			<div id="Header">
				<div id="Logo">
					%%GLOBAL_HeaderLogo%%
				</div>
				<div id="topmenu" style="">
					
							<a href="/">
							  <img border="0" src="https://ansbaby.com/v/004.png" width="24" height="16">
							</a>
							<a href="/hk">
							  <img border="0" src="https://ansbaby.com/v/001.png" width="24" height="16">
							</a>
							<a href="/cn">
							  <img border="0" src="https://ansbaby.com/v/002.png" width="24" height="16">
							</a>
							<a href="/tw">
							  <img border="0" src="https://ansbaby.com/v/003.png" width="24" height="16">
							</a>
					
				</div>
			</div>

<div class="cartright"><a href="https://ansbaby.com/cart.php"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></div>
<script>
$(document).ready( function(){
	$(".c-menu > ul > li ").each( function(){
		var text = $(this).find( 'a > span' ).html();
		if ( text == " 首頁" || text == " 首页" ){
			$(this).hide();
		}
	} )
} )
</script>