<head>
	<title>%%Page.WindowTitle%%</title>

	<meta http-equiv="Content-Type" content="text/html; charset=%%GLOBAL_CharacterSet%%" />
	<meta name="description" content="%%Page.MetaDescription%%" />
	<meta name="keywords" content="%%Page.MetaKeywords%%" />
	%%Page.CanonicalLink%%
	%%Page.Robots%%
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />

        <!--呢一個SLIDE MENU用------->
      <link rel="stylesheet" href="//ansbaby.com/css/font-awesome.min.css">
  <link rel="stylesheet" href="//ansbaby.com/css/style.min.css">

          <!--呢一個SLIDE MENU用------->
	<!-- Set viewport to iPhone portrait mode -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="shortcut icon" href="%%GLOBAL_Favicon%%" />


	%%GLOBAL_Stylesheets%%

	<!-- Tell the browsers about our RSS feeds -->
	%%GLOBAL_HeadRSSLinks%%

	<!-- Include visitor tracking code (if any) -->
	%%GLOBAL_TrackingCode%%

	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/jquery.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/menudrop.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/common.js?%%GLOBAL_JSCacheToken%%"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/iselector.js?%%GLOBAL_JSCacheToken%%"></script>

	<!-- HIDE IPHONE MENU BAR WHEN PAGE LOADS -->
	<script type="application/x-javascript">
		$(document).ready(function() {
			$('#SearchForm #search_query').bind('keydown', function() {
				$('#SearchForm label').hide();
			})
			.bind('blur', function() {
				if(!$(this).val()) {
					$('#SearchForm label').show();
				}
			});
		});
		addEventListener('load', function() {
			setTimeout(hideAddressBar, 0);
		}, false);
		function hideAddressBar() {
			window.scrollTo(0, 1);
		}
	</script>

	<script type="text/javascript">
	//<![CDATA[
	config.ShopPath = '%%GLOBAL_ShopPath%%';
	config.AppPath = '%%GLOBAL_AppPath%%';
	var ThumbImageWidth = %%GLOBAL_ProductThumbImageWidth%%;
	var ThumbImageHeight = %%GLOBAL_ProductThumbImageHeight%%;
	//]]>
	</script>
	%%GLOBAL_AdditionalScriptTags%%
	%%GLOBAL_RTLStyles%%
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Adamina" />

    <!--呢一個係用來收埋個CAT MENU------->

            <script>
         $( document ).ready(function() {

                $("#contentshow").hide();
               $("#catshowa").hide();

            });


               var ss = 1;

                function showcat(){



                if(ss==1){

                 $("#contentshow").slideDown(500);
                $("#catshow").hide();
                   $("#catshowa").show();

                ss = ss-1;

                }

                else{

                 $("#contentshow").slideUp(500);
                   $("#catshowa").hide();
                   $("#catshow").show();

                ss = ss+1;


                }

                };

            </script>
                <!--呢一個係用來收埋個CAT MENU------->
<!--20161124 手指可以DRAG到個MENU既ICON--------------------------->

            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  .draggable {width: 60px;
    height: 60px;
    padding: 0.5em;
    float: left;
    margin: 0 10px 10px 0;
    border: 0;  background:none;}
  #draggable, #draggable2 { margin-bottom:20px; }
  #draggable { cursor: n-resize; }
  #draggable2 { cursor: e-resize; }
  #draggable {       position: fixed;
    top: 12%;
    right: 0%;
    z-index: 9999999;
  }
 div#c-button--slide-left {
     color:#000;
    border-radius: 15px;
    padding: 14px 19px;
}
  h3 { clear: left; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://ansbaby.com/jquery.ui.touch-punch.min.js"></script><!--用左呢一個LINK先可以係TOUCH SCREEN用到-->
  <script>
  $( function() {

  $( "#draggable" ).draggable({ containment: "window", scroll: false });// 即係限係WINDOW內
  } );
  </script>

<!--20161124 手指可以DRAG到個MENU既ICON--------------------------->

</head>
