<!--
<div id="IphoneIconMenu">
	<ul>
		<li class="Home"><a href="%%GLOBAL_ShopPathNormal%%/"><span>%%LNG_Home%%</span></a></li>
		<li class="Cart"><a href="%%GLOBAL_ShopPathNormal%%/cart.php"><span>%%LNG_Cart%%</span></a></li>
		<li class="Search"><a href="%%GLOBAL_ShopPathNormal%%/search.php?mode=advanced"><span>%%LNG_Search%%</span></a></li>
		<li class="Wishlist"><a href="%%GLOBAL_ShopPath%%/wishlist.php"><span>%%LNG_WishList%%</span></a></li>
		<li class="Account"><a href="%%GLOBAL_ShopPath%%/account.php"><span>%%LNG_MyAccount%%</span></a></li>
	</ul>
</div>-->