<!--呢一個係手指DRAG既CODE----->
<div id="draggablea" class="draggable ui-widget-content">


<!--呢一個SLIDE MENU用------->
<div id="o-wrapper" class="o-wrapper">
 <div class="c-buttons">
        <div id="c-button--slide-left" class="c-button"><i class="fa fa-bars" aria-hidden="true"></i></div>
</div>
</div>
<!--呢一個SLIDE MENU用-------> 
 </div>
<!--呢一個係手指DRAG既CODE----->
    
    <div class="Block">
		<a></a>
	 
		<div class="BlockContent">
<!--呢一個SLIDE MENU用-------> 
<!-- 背景黑了/c-mask -->
<div id="c-mask" class="c-mask"></div>
<!-- 背景黑了/c-mask -->
 <div id="Menu">     
 <nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
 <button class="c-menu__close">&larr; Close Menu</button>
 
 <ul>
 <li class="First %%GLOBAL_ActivePageHomeClass%%"><a href="%%GLOBAL_ShopPathNormal%%/"><span> %%LNG_MainPage%%</span></a></li>
 %%SNIPPET_PageMenu%%
</ul>
</nav><!-- /c-menu slide-left -->
</div>
			 
		</div>
	</div>
    
 <!--呢一個SLIDE MENU用------->    
