                <div class="Block Moveable Panel" id="CategoryHeading">
                    <div class="BlockContent">

                        <div class="CategoryDescription">
                            %%GLOBAL_CatDesc%%
                        %%GLOBAL_CategoryDescriptionOptimizerNoScriptTag%%
                        </div>
                        <!--%%SNIPPET_SubCategories%%-->
                    </div>
                </div>