	%%GLOBAL_OptimizerLinkScript%%	
		
		<div id="TopMenu">
			<ul style="display:%%GLOBAL_HidePurchasingOptions%%">
				<li style="%%GLOBAL_LiveChatCodeEnabled%%" class="HeaderLiveChat">
					%%GLOBAL_LiveChatCode%%
				</li>
				<li style="display:%%GLOBAL_HideAccountOptions%%" class="First"><a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_YourAccount%%</a></li>
				<li style="display:%%GLOBAL_HideAccountOptions%%"><a href="%%GLOBAL_ShopPath%%/orderstatus.php">%%LNG_OrderStatus%%</a></li>
				<li style="display:%%GLOBAL_HideWishlist%%"><a href="%%GLOBAL_ShopPath%%/wishlist.php">%%LNG_YourWishList%%</a></li>
				%%SNIPPET_TopMenuGiftCertificates%%
				<li style="display:%%GLOBAL_HideCartOptions%%" class="CartLink"><a href="%%GLOBAL_ShopPathNormal%%/cart.php">%%LNG_ViewCart%% <span>%%GLOBAL_CartItems%%</span></a></li>
				<li style="display:%%GLOBAL_HideAccountOptions%%">
					<div>
						%%GLOBAL_LoginOrLogoutText%%
					</div>
				</li>
 <a href="https://ansbaby.com/"> 
<img border="0" src="https://ansbaby.com/v/004.png" width="30" height="20"></a> <a href="https://ansbaby.com/hk"><img border="0" src="https://ansbaby.com/v/001.png" width="30" height="20">
</a> <a href="https://ansbaby.com/cn">  
<img border="0" src="https://ansbaby.com/v/002.png" width="30" height="20"> </a><a href="https://ansbaby.com/tw"><img border="0" src="https://ansbaby.com/v/003.png" width="30" height="20"> 
</a>   
 
				%%GLOBAL_switchingLanguage%%
			</ul>
			<br class="Clear" />
		</div>