<div class="Block Moveable Panel ProductDescription" id="ProductDescription">
    <h4 class="text-primary">%%LNG_ProductDescription%%</h4>
    <div class="ProductDescriptionContainer">
        %%GLOBAL_ProductDescriptionOptimizerScriptTag%%
            %%GLOBAL_ProductDesc%%
        %%GLOBAL_ProductDescriptionOptimizerNoScriptTag%%
    </div>

</div>

<br/><br/>
