/* Color: Grey */
html, body {
	/* background: #fff; */
	color: #2a2a2a!important;
	/* background: #f3eeea!important; */
	overflow-x: hidden!important;
}
body[orient="landscape"] {
/* See bottom for landscape css */
}

a {
	color: #191919;
	font-weight: normal;
	text-decoration: none;
}


h2, body.sitemap .Content h3 {
	color: #2a2a2a;
	/* text-shadow: 1px 1px 0 #fff; */
	/* background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.2, #fff),
	    color-stop(0.7, #d6d9de)
	); */
	/* -webkit-border-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #777),
	    color-stop(0.2, #bababd),
	    color-stop(0.4, #cecfd0),
	    color-stop(0.6, #e3e3f4),
	    color-stop(0.8, #f3f3f4)
	) 100 100 100 100  repeat repeat; */
	/* border-bottom: 1px solid #ccc; */
}

.PrimaryProductDetails h2 {
	-webkit-border-image: none;
}

input[type="text"], input[type="password"], input[type=email], select, textarea {
	/* background: #cfcfcf; */
	border: 0;
	border-bottom: 1px solid #a3a3a3;
	/* border: 0; */
}
input[type="text"], input[type="password"], input[type=email], textarea {
	/* background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.0, #fff),
		color-stop(1.0, #cfcfcf)
	); */
}

#IphoneTopMenu li a {
	border-left: 1px solid #d6d9de;
}


#IphoneIconMenu {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#606060),
		to(#212121),
		color-stop(0.5, #484848),
		color-stop(0.5, #212121)
	);
}
#IphoneIconMenu li a {
	color: #fff;
}
#IphoneIconMenu li.Home a {
	background: url(../images/default/IconHome.png) 50% 3px no-repeat;
}
#IphoneIconMenu li.Cart a {
	background: url(../images/default/IconCart.png) 50% 3px no-repeat;
}
#IphoneIconMenu li.Search a {
	background: url(../images/default/IconSearch.png) 50% 3px no-repeat;
}
#IphoneIconMenu li.Wishlist a {
	background: url(../images/default/IconWishlist.png) 50% 3px no-repeat;
}
#IphoneIconMenu li.Account a {
	background: url(../images/default/IconAccount.png) 50% 3px no-repeat;
}

#Header {
	background: #fff;
	height: 98px;
	top: 0;
	z-index: 99;
	position: fixed;
	width: 100%;
}
#Logo h1 {
	color: #2a2a2a;
}
#Logo h1 a {
	color: #2a2a2a;
}


.Right .Block {
}
.Right li {
	border-bottom: 1px solid #a6a6a6;
}
/* For Pages Menu - Sub Pages */
.Right li ul {
	border-top: 0;
}

.Content {
	/* background: #fff; */
}
body.home .Content {
	/* background: transparent; */
	/* background: url(https://ansbaby.com/product_images/uploaded_images/bg5.jpg); */
	/* min-height: 473px; */
	/* background-size: cover; */
	/* background-position: center; */
}


/**
 * Arrow lists
 */

.Block#SideCategoryList li ul li:before,
#Menu li li:before,
body.sitemap .Content li li:before,
.SubCategoryList li li:before {
	color: #95d752;
}

.Block#SideCategoryList li,
.Block#SideShopByBrand li,
.SubCategoryList li,
body.sitemap .Content li,
.SubBrandList li,
.SubBrandGridList li,
.WishlistList li,
.AccountOrdersList li {
	border-bottom: 1px solid #d6d9de;
}

.Block#SideCategoryList li ul,
body.sitemap .Content li ul {
	border-top: 1px solid #d6d9de;
}

#SearchForm {
	color: #fff;
	background: #fff;
}
#SearchForm h2 {
	color: #fff;
	background-image: none;
	text-shadow: 1px 1px 0 #2a2a2a;
}
#SearchForm a {
	color: #fff;
}

#SearchForm label {
	color: #555;
}

#FullSiteLink a {
	border: 1px solid #eeeff0;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.0, #f7f7f7),
		color-stop(1.0, #efefef)
	);
	color: #666667;
}


.ProductList li {
	border-bottom: 1px solid #d6d9de;
}
.ProductList .ProductImage {
	background: #fff;
}
.ProductList .Rating {
	color: #797979;
	display: none;
}
.ProductList .ProductActionAdd a {color: #fff;text-decoration: none;}


.CartList li {
	border-bottom: 1px solid #d6d9de;
}

.CartList .CartRemoveLink {
	color: #777;
}

.CartList .ProductImage {
	background: #fff;


}

.TopSellerNumber {
	/* background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.0, #9fd546),


		color-stop(1.0, #7fc709)
	); */
	/* border: 1px solid #7fc709; */
	color: #fff;
	background: #d75d6f;
}

.Breadcrumb {
	border-bottom: 1px solid #d6d9de;
}


.CompareItem { width:200px; border-left: solid 1px #a3a3a3; }
.CompareFieldName { font-weight:bold; border-bottom: 1px solid #edf2f3; }
.CompareFieldTop { border-bottom:solid 1px #d6d9de; }
.CompareCenter { border-left:solid 1px #d6d9de; border-bottom:solid 1px #edf2f3; }
.CompareLeft { border-left:solid 1px #d6d9de; border-bottom:solid 1px #edf2f3; }


.ViewCartLink {
	background: url('../images/default/Cart.png') no-repeat 0 50%;
}
table.CartContents, table.General {
	border: 1px solid #d6d9de;
}
.CartContents thead tr th, table.General thead tr th {
	background: #edf2f3;
	border-bottom: 1px solid #d6d9de;
	color: #353535;
}
.CartContents tbody .SubTotal td {
	border-top: 1px solid #d6d9de;
}
.JustAddedProduct {
	border: 1px solid #d6d9de;
	background: #fff;
}
.CategoryPagination {
	background: #edf2f3;
}
.CheckoutRedeemCoupon { background: #edf2f3; border: 1px solid #a3a3a3; }

.InfoMessage {
	border: 1px solid orange;
	background: #fff1a8;
}

.SpecificInfoMessage {
	border: 1px solid #f8e4d1;
	background: #fff1a8;
}

.SuccessMessage {
	background: #E8FFDF;
	border: 1px solid green;
}

.ErrorMessage {
	background: #fdeeee;
	border: 1px solid #fc7f7f;
}

/* Shipping Estimation on Cart Contents Page */
.EstimateShipping {
	border: 1px solid #d6d9de;
	background: #edf2f3;
}

/* Express Checkout */
.ExpressCheckoutBlock .ExpressCheckoutTitle {
	background: #e2e5e6;
	border: 1px solid #a3a3a3;
}

.ExpressCheckoutBlockCollapsed .ExpressCheckoutTitle {
	background: #edf2f3;
	border: 1px solid #d6d9de;
	color: #555;
}

.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent {
	color: #a3a3a3;
}

/* Tabbed Navigation */
.TabNav {
	border-bottom: 1px solid #a3a3a3;
}
.TabNav li a {
	border: 1px solid #a3a3a3;
	background: #e2e5e6;
}
.TabNav li.Active a {
	border-bottom: 1px solid #fff;
	background: #fff;
}

/* General Tables */
table.General tbody tr td {
	border-top: 1px solid #efefef;
}

/* Product Videos */
#VideoContainer {
	border: 1px solid #a3a3a3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.currentVideo {
	background-color: #e2e5e6;
}

/* Product Videos */
#VideoContainer {
	border: 1px solid #a3a3a3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.currentVideo {
	background-color: #e2e5e6;
}

#SearchResultsCategoryAndBrand {
	background: #fff;
	border: 1px solid #d6d9de;
}

p.RelatedSearches {
	border-color: orange;
	background: #fff1a8;
	padding: 8px;
}

.ProductAddToCart.ConfigurableProduct {
	background: #d75d6f;
	border: 1px solid #d75d6f;
	/* border-bottom: 1px solid #c7d7db; */
}

.ProductPrice, .ProductList em, .ProductAddToCart .PriceDetailRow {
	color: #ffffff;
	background: #d75d6f;
	padding: 9px 11px;
	width: 56%;
	margin: 0 auto;
	font-size: 20px;
	margin-top: 15px;
	text-align: center;
}

#SideProductAddToWishList, #SideProductAddToWishList a {
	color: white;
}

.AccountLogin,
.CreateAccount,
#ConfirmOrder .BillingDetails,
#ConfirmOrder .ShippingDetails,
#AccountOrder .BillingDetails,
#AccountOrder .ShippingDetails,
.ShippingAddressList fieldset,
fieldset.PaymentInstructions,
#WishListEditFrom fieldset,
fieldset.AccountSendMessage,
ul.AccountOrderStatusList fieldset,
ul.ReturnsList fieldset {
	border: 1px solid #ccc;
}

.CartContents tfoot .SubTotal td {
	border-color: #EFEFEF;
}

.CartContents tfoot .CheckoutTotalRowTotal td {
	color: maroon;
}

a.Button,
input[type=submit],
input[type=button] {
	border: 0;
	/* color: #fff; */
	/* background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #bbe17c),
	    color-stop(0.1, #90cb2c),
	    color-stop(0.48, #9fd546),
	    color-stop(0.51, #81c80d),



	    color-stop(1, #7ec509)
	); */
	/* text-shadow: 1px 1px 3px #666; */
	background: none;
	border-bottom: 3px solid #d75d6f;
}


div#showall h2 {
    width: 86%;
    float: left;
    font-size: 18px;
}
div#showall {
    /* display: inline-block; */
    width: 100%;
    float: left;
    /* margin-top: 4px; */
    background: #ffffff;
    padding: 0px 0;
    /* border-top: 3px solid #d75d6f; */
    border-bottom: 1px solid #d75d6f;
    /* margin: 17px 0; */
}

div#catshow {
    float: right;
    font-size: 19px;
    color: #e55f73;
    margin-right: 9px;
    margin-top: 7px;
}
div#catshowa {
     float: right;
     font-size: 19px;
     color: #e55f73;
     margin-right: 9px;
     margin-top: 7px;
     display: none;
}

#midbanner{
    background-color: white;
    background-image: url("http://new.kkairsoft.com/product_images/uploaded_images/parallax-home-banner.jpg");
    background-position: center top;
    background-repeat: repeat;
    /* position: absolute; */
    width: 100%;
    /* top: 55px; */
    height: 335px;
    /* padding: 90px 0; */
}


div#midbannera h2 {
    font-size: 3em;
    color: #d75d6f;
}
div#midbannera {
    width: 1170px;
    margin: 0 auto;
    padding: 100px 0;
    height: 135px;
    font-size: 18px;
}

h2.inin {
    margin: 16px 0 16px 28px;
    font-weight: bold;
}

#Wrapper1 {
    clear: both;
    /* width: 1170px; */
    padding: 10px 0 0 0;
    margin: 0 auto;
}

div#SideNewProducts {
    display: none;
}

#contentshow{
    display:none;
}​

.price {
    min-width: 210px;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}
.price .ProductActionAdd {
    width: 25%;
    float: left;
}

.ProductActionAdd {
    background: #cab8ad;
    width: 75%;
    padding: 10px 0;
    margin: 0 auto;
}

.ProductPriceRating {
    width: 75%;
    /* float: left; */
    background: #d75d6f;
    margin: 0 auto;
}

div#bga {
    background: url(http://new.kkairsoft.com/product_images/uploaded_images/slide-bg.jpg) repeat-x;
    height: 547px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    min-width: 1170px;
}​

div#SideTopSellers {
    padding-top: 19px;
}


body.home {
	/*
    background: url(https://ansbaby.com/product_images/uploaded_images/bg5.jpg);
    min-height: 473px;
    background-size: cover;
    background-position: -485px 24px;
	*/
}

table.conmid td {
    display: inline-block!important;
    width: 50%;
}


.conbo {
    height: 393px!important;
    padding: 0 12px;
}

.conbo div {
    width: 100%!important;
}










/**********************************************************************/
#Wrapper { padding: 0px 15px; }
.center, .text-center { text-align: center; }
.position-relative { position: relative; }
.position-absolute { position: absolute; }

.w3l_producti_grids h4,
.w3l_producti_grids p { text-align: center; }

#mama_club br { display: none;}

.w3-stats { text-align: center; }
.w3-stats > * { display: inline-block;}

h3.center { font-size: 32px; margin-top: 50px; position: relative; }
h3.center::before{
	content: '';
	position: absolute;
	top: 0;
	height: 5px;
	width: 30%;
	left: 35%;
	background-color: #e3910c;
}

#Header { 
	background: url('../../ansbaby/images/sky.jpg') top center no-repeat; 
	background-size: cover;
}
#Container {
	padding-bottom: 250px;
	background: url('../../ansbaby/images/grass.png') bottom center no-repeat; 
	background-size: auto 250px;
}

#topmenu { position: absolute; top: 5px; left: 5px; z-index:999; }
#topmenu > a { display: inline-block; }

div#c-button--slide-left { margin-top: 0px; }