<div class="Block CategoryContent Moveable Panel" id="CategoryContent">
  <script type="text/javascript">
    lang.CompareSelectMessage = '%%LNG_CompareSelectMessage%%';
    lang.PleaseSelectAProduct = '%%LNG_PleaseSelectAProduct%%';
    config.CompareLink = '%%GLOBAL_CompareLink%%';
  </script>
  %%GLOBAL_ListJS%%
  <form name="frmCompare" id="frmCompare" action="%%GLOBAL_CompareLink%%" method="get" %%GLOBAL_CompareOnSubmit%%>
    %%GLOBAL_CompareButtonTop%%
    <ul class="ProductList text-center %%GLOBAL_DisplayMode%%">
      %%GLOBAL_CategoryProductListing%%
    </ul>
    <br class="Clear" />
    %%GLOBAL_CompareButton%%
  </form>
</div>
