<div class="Block Moveable Panel" id="CategoryHeading">
  <div class="BlockContent">
    <div class="pull-right">
      %%SNIPPET_CategorySortBox%%
    </div>
    %%GLOBAL_CategoryNameOptimizerScriptTag%%
    <h2 class="category-name">%%GLOBAL_CatName%%</h2>
    %%GLOBAL_CategoryNameOptimizerNoScriptTag%%

  </div>
</div>
