<div class="Block Moveable Panel" id="CreateAccountForm">
	<h2 class="text-secondary">%%GLOBAL_CreateAccountHeading%%</h2>
	<div class="BlockContent">
		<p style="display: %%GLOBAL_HideCreateAccountIntroMessage%%">
			%%LNG_CreateAccountIntro4%% <em>%%GLOBAL_StoreName%%</em> %%LNG_CreateAccountIntro5%%
		</p>

		<p class="ErrorMessage" style="display:%%GLOBAL_HideCreateAccountErrorMessage%%">
			%%GLOBAL_ErrorMessage%%
		</p>

		<form action="%%GLOBAL_ShopPath%%/login.php?action=save_new_account" method="post" onsubmit="return check_create_account_form()" class="PL20">
			<div class="FormContainer HorizontalFormContainer">
				<h3 class="text-primary">%%LNG_PersonalDetails%%</h3><p />
				<p>%%LNG_CreateAccountPersonalIntro%%</p>
				<dl style="padding-bottom:10px;">
					%%GLOBAL_CreateAccountEmailPassword%%
				</dl>
				<h3 class="text-primary">%%LNG_ShippingDetails%%</h3><p />
				<p>%%LNG_CreateAccountShippingIntro%%</p>
				<dl>
					%%GLOBAL_CreateAccountDetails%%
				</dl>
				<p class="Submit">
					<input type="submit" value="%%GLOBAL_CreateAccountButtonText%%" class="btn btn-warning btn-lg"/>
				</p>
			</div>
		</form>
		%%Panel.CreateAccountJavaScript%%
	</div>
</div>
