</div><!-- end #Outer (header) -->

<!-- Contact Section -->
<div class="contact w3ls-contact" id="contact">
  <div class="container w3-contact">
    <div class="list1">
      <ul class="contact-list">
        <li class="heading"> 聯絡我們</li>
        <li>香港九龍觀塘偉業街 203號同德仕大廈 11樓</li>
        <li>(852) 2389 1232</li>
        <li><a href="mailto:info@ansbaby.com">info@ansbaby.com</a></li>
      </ul>
    </div>
    <div class="list2">
      <ul class="social-list">
        <li>
          <a target="_blank" href="https://www.facebook.com/ansbabyansbaby"><i class="fa fa-3x fa-facebook-official"></i></a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/ansbabyhongkong"><i class="fa fa-3x fa-instagram"></i></a>
        </li>
        <li>
          <a target="_blank" href="http://weibo.com/ansbabyhk"><i class="fa fa-3x fa-weibo"></i></a>
        </li>
        <li>
          <a target="_blank" href="javascript:;"><i class="fa fa-3x fa-wechat"></i></a>
        </li>
        <li>
          <a target="_blank" href="https://www.youtube.com/channel/UCybw3snAwBIattH0CvbqRPw"><i class="fa fa-3x fa-youtube"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Contact Section -->

<!-- copyright -->
<div class="agileits-w3layouts">
  <div class="container">
    <p>本網站包含其他外部網站的鏈接。我們並不對第三方網站的內容負責。</p>
    <p>© 版權所有 Australian Formulated Limited｜所有價格均以港幣顯示。</p>
  </div>
</div>
<!-- //copyright -->



    %%GLOBAL_DesignModeHTML%%
    %%GLOBAL_QueryList%%
    %%GLOBAL_DesignModeScriptTag%%
    %%GLOBAL_LiveChatFooterCode%%

    %%GLOBAL_OptimizerTrackingScript%%

    %%GLOBAL_OptimizerConversionScript%%

    %%GLOBAL_OptimizerSetCookieScript%%
    %%GLOBAL_FooterScripts%%
