<head>
    %%GLOBAL_OptimizerControlScript%%

    <title>%%Page.WindowTitle%%</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=%%GLOBAL_CharacterSet%%" />
    <meta name="description" content="%%Page.MetaDescription%%" />
    <meta name="keywords" content="%%Page.MetaKeywords%%" />
    %%GLOBAL_AdditionalMetaTags%%
    %%Page.CanonicalLink%%
    %%Page.Robots%%
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="shortcut icon" href="%%GLOBAL_Favicon%%" />


    <!-- Custom Stylesheets -->
    <link href="%%GLOBAL_ShopPath%%/templates/__master/Styles/styles.css?%%GLOBAL_JSCacheToken%%" type="text/css" rel="stylesheet" />
    <link href="%%GLOBAL_ShopPath%%/templates/ansbaby/Styles/iselector.css?%%GLOBAL_JSCacheToken%%" media="all" type="text/css" rel="stylesheet" />
    <!--[if IE]><link href="https://ansbaby.com/tw/templates/ansbaby/Styles/ie.css?1" media="all" type="text/css" rel="stylesheet" /><![endif]-->
    <link href="%%GLOBAL_ShopPath%%/javascript/jquery/plugins/imodal/imodal.css?%%GLOBAL_JSCacheToken%%" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="%%GLOBAL_ShopPath%%/templates/ansbaby/Styles/bootstrap.min.css?%%GLOBAL_JSCacheToken%%">
    <link rel="stylesheet" href="%%GLOBAL_ShopPath%%/templates/ansbaby/Styles/font-awesome.css?%%GLOBAL_JSCacheToken%%">
    <link rel="stylesheet" href="%%GLOBAL_ShopPath%%/templates/ansbaby/Styles/lightbox.css?%%GLOBAL_JSCacheToken%%">
    <link rel="stylesheet" href="%%GLOBAL_ShopPath%%/templates/ansbaby/lib/ekko-lightbox/ekko-lightbox.css?%%GLOBAL_JSCacheToken%%">
    <link href="%%GLOBAL_ShopPath%%/templates/ansbaby/Styles/styles.css?%%GLOBAL_JSCacheToken%%" media="all" type="text/css" rel="stylesheet" />
    <link href="%%GLOBAL_ShopPath%%/templates/ansbaby/Styles/custom.css?%%GLOBAL_JSCacheToken%%" media="all" type="text/css" rel="stylesheet" />

    <!-- Tell the browsers about our RSS feeds -->
    %%GLOBAL_HeadRSSLinks%%

    <!-- Include visitor tracking code (if any) -->
    %%GLOBAL_TrackingCode%%

    %%GLOBAL_DesignModeStyleSheet%%

    %%GLOBAL_HeaderImageStyle%%

    <!-- scripts -->
    <script src="%%GLOBAL_ShopPath%%/templates/ansbaby/js/jquery.min.js?%%GLOBAL_JSCacheToken%%"></script>
    <script src="%%GLOBAL_ShopPath%%/templates/ansbaby/js/bootstrap.min.js?%%GLOBAL_JSCacheToken%%"></script>
    <script src="%%GLOBAL_ShopPath%%/templates/ansbaby/js/numscroller-1.0.js?%%GLOBAL_JSCacheToken%%"></script>
    <script src="%%GLOBAL_ShopPath%%/templates/ansbaby/js/SmoothScroll.min.js"></script>
  	<script src="%%GLOBAL_ShopPath%%/templates/ansbaby/js/easing.js?%%GLOBAL_JSCacheToken%%"></script>
    <script src="%%GLOBAL_ShopPath%%/templates/ansbaby/js/common.js?%%GLOBAL_JSCacheToken%%"></script>
    <script src="%%GLOBAL_ShopPath%%/templates/ansbaby/js/custom.js?%%GLOBAL_JSCacheToken%%"></script>
    <script src="%%GLOBAL_ShopPath%%/templates/ansbaby/js/move-top.js?%%GLOBAL_JSCacheToken%%"></script>
    <script src="%%GLOBAL_ShopPath%%/templates/ansbaby/lib/ekko-lightbox/ekko-lightbox.min.js?%%GLOBAL_JSCacheToken%%"></script>

    <script>
      $.browser={ msie: ( navigator.appName == 'Microsoft Internet Explorer') ? true : false }
    </script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/menudrop.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/iselector.js?%%GLOBAL_JSCacheToken%%"></script>


    <script type="text/javascript">
    //<![CDATA[
    config.ShopPath = '%%GLOBAL_ShopPath%%';
    config.AppPath = '%%GLOBAL_AppPath%%';
    var ThumbImageWidth = %%GLOBAL_ProductThumbImageWidth%%;
    var ThumbImageHeight = %%GLOBAL_ProductThumbImageHeight%%;

    //]]>
    </script>
    %%GLOBAL_AdditionalScriptTags%%
    %%GLOBAL_QuickSearchJS%%
    %%GLOBAL_RTLStyles%%
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Antic" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Questrial" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet"/>
	<link href="//fonts.googleapis.com/earlyaccess/cwtexyen.css" rel="stylesheet"/>


</head>
