<!--
<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/jquery/plugins/jCarousel/jCarousel.js?%%GLOBAL_JSCacheToken%%"></script>
-->
<script type="text/javascript" src="%%GLOBAL_ShopPath%%/templates/ansbaby/js/jCarousel.js?%%GLOBAL_JSCacheToken%%"></script>
%%SNIPPET_ProductImageZoomer%%

<script type="text/javascript">//<![CDATA[
var ThumbURLs = new Array();
var ProductImageDescriptions = new Array();
var CurrentProdThumbImage = %%GLOBAL_CurrentProdThumbImage%%;
var ShowVariationThumb =false;
var ProductThumbWidth = %%GLOBAL_ProductThumbWidth%%;
var ProductThumbHeight =  %%GLOBAL_ProductThumbHeight%%;
var ProductMaxZoomWidth = %%GLOBAL_ProductMaxZoomWidth%%;
var ProductMaxZoomHeight =  %%GLOBAL_ProductMaxZoomHeight%%;
var ProductTinyWidth = %%GLOBAL_ProductMaxTinyWidth%%;
var ProductTinyHeight =  %%GLOBAL_ProductMaxTinyHeight%%;

%%GLOBAL_ProdImageJavascript%%

var ShowImageZoomer = %%GLOBAL_ShowImageZoomer%%;

var productId = %%GLOBAL_ProductId%%;
//]]></script>
%%Discount.FreeShippingEligibility%%
<div class="Block Moveable Panel PrimaryProductDetails" id="ProductDetails">
    <div class="BlockContent clearfix">
        %%GLOBAL_ProductDetailFlashMessages%%

        %%GLOBAL_ProductNameOptimizerScriptTag%%

        %%GLOBAL_ProductNameOptimizerNoScriptTag%%

        <div class="ProductThumb " style="%%GLOBAL_HideProductThumb%%">
            %%GLOBAL_LightBoxImageJavascript%%
            %%SNIPPET_ProductThumbImage%%

            <div class="ImageCarouselBox" style="margin:0 auto; %%GLOBAL_HideImageCarousel%%">
                <a id="ImageScrollPrev" class="prev" href="#"><img src="%%GLOBAL_IMG_PATH%%/LeftArrow.png" alt="" width="20" height="20" /></a>

                <div class="ProductTinyImageList">
                    <ul>
                        %%SNIPPET_ProductTinyImages%%
                    </ul>
                </div>

                <!--
                <a id="ImageScrollNext" class="next" href="#"><img src="%%GLOBAL_IMG_PATH%%/RightArrow.png" alt="" width="20" height="20" /></a>
                -->
            </div>
            <div style="%%GLOBAL_HideMorePicturesLink%%" class="SeeMorePicturesLink">
                <a href="#" onclick="%%GLOBAL_TinyImageClickJavascript%% return false;" class="ViewLarger">%%GLOBAL_SeeMorePictures%%</a>
            </div>
        </div>

        <div class="ProductMain">

          <h2>%%GLOBAL_ProductName%%</h2>

          <div class="Value text-center" >
            <div class="text-primary h3 ProductPrice VariationProductPrice">%%GLOBAL_ProductPrice%%</div>
            %%GLOBAL_IncludingExcludingTax%% %%GLOBAL_YouSave%%
          </div>
            %%GLOBAL_FacebookLikeButtonAbove%%
            <div class="ProductDetailsGrid" style="display:none;">



                <div class="DetailRow RetailPrice" style="display: %%GLOBAL_HideRRP%%">
                    <!--<div class="Label">%%LNG_RRP%%:</div>-->
                    <div class="Value">
                        %%GLOBAL_RetailPrice%%
                    </div>
                </div>

                <div class="DetailRow ProductSKU" style="display: %%GLOBAL_HideSKU%%">
                    <div class="Label">%%LNG_SKU%%:</div>
                    <div class="Value">
                        <span class="VariationProductSKU">
                            %%GLOBAL_SKU%%
                        </span>
                    </div>
                </div>

                <div class="DetailRow" style="%%GLOBAL_HideVendorDetails%%">
                    <div class="Label">%%LNG_Vendor%%:</div>
                    <div class="Value">
                        %%GLOBAL_VendorName%%
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideBrandLink%%">
                    <div class="Label">%%LNG_Brand%%:</div>
                    <div class="Value">
                        <a href="%%GLOBAL_BrandLink%%">%%GLOBAL_BrandName%%</a>
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideCondition%%">
                    <div class="Label">%%LNG_Condition%%:</div>
                    <div class="Value">
                        %%GLOBAL_ProductCondition%%
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideWeight%%">
                    <div class="Label">%%LNG_Weight%%:</div>
                    <div class="Value">
                        <span class="VariationProductWeight">
                            %%GLOBAL_ProductWeight%%
                        </span>
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideRating%%">
                    <div class="Label">%%LNG_Rating%%:</div>
                    <div class="Value">
                        <img width="64" height="12" src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_Rating%%.gif" alt="" />
                        <span style="display:%%GLOBAL_HideReviewLink%%">(
                            <a href="#reviews" onclick="%%GLOBAL_ReviewLinkOnClick%%">
                                %%GLOBAL_ReviewLinkText%%
                            </a>
                        )</span>
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideAvailability%%">
                    <div class="Label">%%LNG_Availability%%:</div>
                    <div class="Value">
                        %%GLOBAL_Availability%%
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideShipping%%">
                    <div class="Label">%%LNG_Shipping%%:</div>
                    <div class="Value">
                        %%GLOBAL_ShippingPrice%%
                    </div>
                </div>

                <div class="DetailRow" style="%%GLOBAL_HideMinQty%%">
                    <div class="Label">%%LNG_ProductMinQty%%:</div>
                    <div class="Value">
                        %%GLOBAL_MinQty%% %%LNG_units%%
                    </div>
                </div>

                <div class="DetailRow" style="%%GLOBAL_HideMaxQty%%">
                    <div class="Label">%%LNG_ProductMaxQty%%:</div>
                    <div class="Value">
                        %%GLOBAL_MaxQty%% %%LNG_units%%
                    </div>
                </div>

                <div class="DetailRow InventoryLevel" style="%%GLOBAL_HideCurrentStock%%">
                    <div class="Label">%%GLOBAL_CurrentStockLabel%%:</div>
                    <div class="Value">
                        <span class="VariationProductInventory">
                            %%GLOBAL_InventoryList%%
                        </span>
                    </div>
                </div>

                <div class="DetailRow" style="%%GLOBAL_HideGiftWrapMessage%%">
                    <div class="Label">%%LNG_GiftWrapping%%:</div>
                    <div class="Value">
                        %%GLOBAL_GiftWrappingAvailable%%
                    </div>
                </div>
            </div>
            %%SNIPPET_ProductAddToCart%%
            %%SNIPPET_ProductExpectedReleaseDate%%
            %%GLOBAL_FacebookLikeButtonBelow%%
        </div>
        %%GLOBAL_AddThisLink%%

        <br class="Clear" />

    </div>
</div>
