/** IE 67 Specific Fixes **/

* html #Logo h1 {
	background: url(../images/orange/Logo.gif) top left no-repeat;
}

* html .Left .TopSeller1, * html .Right .TopSeller1 { /* No1 seller box (cascades from 'topseller' class */
	margin-top: 0;
}

* html .Left .TopSellers li.TopSeller1 .TopSellerNumber, * html .Right .TopSellers li.TopSeller1 .TopSellerNumber {
	background: url(../images/orange/TopSellerNumber1Bg.gif) 0 0 no-repeat;
	margin: 0;
}

* html #Menu li a {
	float: left;
}
* html .Left {
	height: 500px;
}
* html .Right {
	height: 500px;
}
* html .Content {
	height: 500px;
}

* html .SelectGiftWrapMultiple {
	height: 400px;
}

/** General IE Fixes **/

#SearchForm .Button {
	vertical-align: bottom;
}

select, input {
	font-size: 0.95em;
}

#Container {


}

.ProductAddToCart dt div.Required, #CartEditProductFieldsForm dt div.Required{
	margin-left: 0px;
}

.row > [class*='col-'] { display:inline-block; }